body{
    background-color: #e5e7eb;
}
h1{
    background-color: #f98000;
    color:#f9fafb;
}
input[id='warning'] ~ p{
    background-color: #ffffff;
    color:#9ca3af;
}
input[id='light']:checked + label{
    background-color: #fff8cc;
    color:#8b5e00;
}
input[id='light']:checked ~ .light_theme{
    background-color: #fff8cc;
    color:#111827;
}

input[id='dark']:checked + label{
    background-color: #111827;
    color:#f9fafb;
}
input[id='dark']:checked ~ .dark_theme{
    background-color: #111827;
    color:#f9fafb;
}
input[id='red']:checked + label{
    background-color: #fee2e2;
    color:#991b1b;
}
input[id='red']:checked ~ .red_color{
    background-color: #fee2e2;
    color:#7f1d1d;
}

input[id='green']:checked + label{
    background-color: #dcfce7;
    color:#166534;
}
input[id='green']:checked ~ .green_color{
    background-color: #dcfce7;
    color:#166534;
}
input[id='blue']:checked + label{
    background-color: #dbeafe;
    color:#1d4ed8;
}
input[id='blue']:checked ~ .blue_color{
    background-color: #dbeafe;
    color:#1d4ed8;
}
input[id='vietnamese']:checked + label{
    background-color: #bbf7d0;
    color:#166534;
}
input[id='vietnamese']:checked ~ .vietnamese_language{
   
    color:#166534;
}

input[id='english']:checked + label{
    background-color: #bfdbfe;
    color:#1d4ed8;
}
input[id='english']:checked ~ .english_language{
  
    color:#1d4ed8;
}
input[id='showNotifications']:checked +label{
    background-color: #fef3c7;
    color:#92400e;
}
input[id='showNotifications']:checked ~ .show_notifications{
    background-color: #fef3c7;
    color:#92400e;
}
input[id='eco']:checked +label{
    background-color: #bbf7d0;
    color:#15803d;
}
input[id='eco']:checked ~ .eco_mode{
    background-color: #bbf7d0;
    color:#166534;
}
input[id='warning']:checked +label{
    background-color: #fee2e2;
    color:#b91c1c;
}
input[id='warning']:checked ~ .warning_essential{
    background-color: #fee2e2;
    color:#b91c1c;
}